* {
box-sizing: border-box;
margin: 0;
}

body {
width: 100vw;
height: 100vh;
margin: 0;
overflow: hidden;
background: black;
}

body.ready {
overflow: unset;
overflow-x: hidden !important;
}

.scene,
canvas {background: radial-gradient(circle at top, #4a9593 0%, #a06640 100%); 
background-size: 400% 400%;
animation: animationName 52s ease infinite;
                
@keyframes animationName {
                    
  0% { background-position: 0% 50%; }
                    
  50% { background-position: 100% 50%; }
                    
  100% { background-position: 0% 50%; }
                  
};
position: fixed;
inset: 0;
width: 100%;
height: 100%;
outline: none !important;
}

section {
height: 100vh;
width: 100vw;
mix-blend-mode: color-dodge}

section:is(.sec, .sec, .sec) {
background: #44444444;
}
section:is(.sec, .sec) {
background: #888888;
}
.sec  {mix-blend-mode:;
background: radial-gradient(0%, #222222 80% #ffffff88);
}
#loading-screen {
width: 100vw;
height: 100vh;
position: fixed;
inset: 0;
background: gainsboro;
color: #333;
font-size: 40px;
font-family: sans-serif;
display: flex;
align-items: center;
justify-content: center;
opacity: 1;
transition: 1s opacity;
}

#loading-screen.finished {
opacity: 0;
}
