* {
	box-sizing: border-box;
  margin: 0;
}



body {
	width: 100vw;
	height: 100vh;
	margin: 0;	
  overflow: hidden;
  background: black;
}

body.ready {
  overflow: unset;
  overflow-x: hidden !important
}



.scene,
canvas {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  outline: none !important;
}




section {
  height: 100vh;
  width: 100vw;
}

section:is(.sec-1, .sec-3, .sec-5) {
  background: lightgrey;
}
section:is(.sec-2, .sec-4) {
  background: gainsboro;
}



#loading-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  inset: 0;
  background: gainsboro;
  color: #333;
  font-size: 40px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
 	transition: 1s opacity;
}

#loading-screen.finished {
  opacity: 0;
}